Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([a-z-]+)$ page.php?page=$1 [QSA,L]
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
